---
import AboutMe from "../components/AboutMe.astro";
import Experience from "../components/Experience.astro";
import Hero from "../components/Hero.astro";
import Projects from "../components/Projects.astro";
import Education from "../components/Education.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="Porfolio de Alan Kennedy - Desarrollador Full Stack"
	description="Puedes contratarme para materializar tu idea en software"
>
	<main class="px-4">
		<SectionContainer class="py-16 md:py-36">
			<Hero />
		</SectionContainer>
	</main>
	<div class="space-y-24">
		<SectionContainer id="experiencia">
			<h2
				class="flex items-center text-3xl font-semibold gap-x-3 px-3 text-black/80 dark:text-white "
			>
				Experiencia laboral
			</h2>
			<Experience />
		</SectionContainer>

		<SectionContainer id="proyectos">
			<h2
				class="flex items-center mb-6 text-3xl font-semibold gap-x-3 px-3 text-black/80 dark:text-white"
			>
				Proyectos
			</h2>
			<Projects />
		</SectionContainer>

		<SectionContainer id="educación">
      <h2 class="flex items-center mb-6 text-3xl font-semibold text-black/80 dark:text-white">
        Educación
      </h2>
      <Education />
    </SectionContainer>

		<SectionContainer id="sobre-mi">
			<h2
				class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white p-2"
			>
				Sobre mí
			</h2>
			<AboutMe />
		</SectionContainer>
	</div>
</Layout>
