---
const EDUCATION = [
  {
    institution: "Devlights Corrientes",
    degree: "HackIAthon - Agosto 2025",
    description: "Concurso de desarrollo organizado por Devlights en donde realicé junto a un equipo de 3 desarrolladores un MVP en una jornada de un día completo. El proyecto surgió para solucionar el problema de que muchos usuarios no saben como alimentarse a pesar de concurrir al gimnasio. En base a los datos del usuario y su objetivo nutricional, se genera un plan nutricional con la API de Gemini."
  },
  {
    institution: "Universidad Tecnológica Nacional - Resistencia, Chaco",
    degree: "Tecnicatura Universitaria en Programación - 2022 a 2024",
    description: "Estudios centrados en desarrollo de software backend con Java y C#. Conceptos sobre programación orientada a objetos, estructuras de datos, patrones de diseño y bases de datos."
  },
  {
    institution: "Globant Chaco",
    degree: "Globant Java Bootcamp - Octubre 2024",
    description: "Curso intensivo con enfoque en Java y SpringBoot. Se realizó un proyecto final integrando Spring MVC, H2 database, RabbitMQ, caching, patrones de diseño, Docker, AWS y Unit Testing."
  },
  {
    institution: "No Country",
    degree: "Simulación laboral - Abril 2024",
    description: "Responsable del desarrollo backend para la creación de una plataforma de inversión en criptomonedas. Me formé en el desarrollo de APIs REST, protocolos HTTP, pruebas de APIs e integración con bases de datos relacionales.",
  },
];
---

<div class="flex flex-col gap-y-8">
  {EDUCATION.map(({ institution, degree, description }) => (
    <article class="flex flex-col space-y-2">
      <h3 class="text-xl font-bold text-gray-800 dark:text-gray-100">{degree}</h3>
      <span class="text-gray-600 dark:text-gray-400">{institution}</span>
      <p class="text-gray-700 dark:text-gray-400">{description}</p>
    </article>
  ))}
</div>