---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Noviembre 2025 - Actualmente",
    title: "Administrador IT de REDCap",
    company: "Instituto de Cardiología de Corrientes",
    description: "Administro, mantengo, monitoreo y actualizo el sistema REDCap utilizado para la gestión de datos de investigación clínica. Proporciono soporte técnico a los usuarios y aseguro la integridad y seguridad de los datos almacenados en la plataforma.",
    link: "https://linkedin.com/in/alankennedyy"
  },
  {
    date: "Noviembre 2024 - Actualmente",
    title: "Desarrollador Full Stack",
    company: "Freelance",
    description:
      "Desarrollo soluciones web y apps móviles para clientes con el fin de optimizar sus negocios y atraer nuevos clientes.",
    link: "https://linkedin.com/in/alankennedyy"
  }
]
---

<ol class="relative mt-4">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>