---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente",
    title: "Desarrollador Full Stack",
    company: "Freelance",
    description:
      "Desarrollo páginas web y apps móviles para clientes con el fin de optimizar sus negocios y atraer nuevos clientes.",
    link: "https://linkedin.com/in/alankennedyy",
  }
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>