---
const { href } = Astro.props
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  role="link"
  class="inline-flex items-center justify-center gap-2 px-3 py-2 space-x-2 text-base transition text-gray-800 bg-gray-100 border border-gray-300 dark:text-white dark:bg-gray-800 dark:border-gray-600 focus-visible:ring-yellow-500/80 text-md hover:bg-yellow-500 hover:border-yellow-500 hover:text-black dark:hover:bg-yellow-400 dark:hover:border-yellow-400 dark:hover:text-black group max-w-fit rounded-xl focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-yellow-500 focus-visible:ring-offset-2 active:bg-yellow-600"
>
  <slot />
</a>